
.shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.2)
}

.tagbox {
    width: 100%;
    padding-top: 1.5rem;
    white-space: normal;
    word-spacing: normal;
    word-wrap: break-word;
    word-break: break-all
}
.tagbox .tag {
    padding: 0.3rem 0.5rem;
    background-color: #aaabb1;
    color: #aaabb3;
    display: inline-block;
    margin: 0.3rem 0.4rem;
    border-radius: 2px;
    box-shadow: 0 1px 6px 0 rgba(85, 85, 85, 0.6)
}

._pay {
    width: 96%;
    padding: 1.5rem 2%;
    overflow: hidden;
    white-space: nowrap
}
._pay .order {
    width: 100%;
    margin-right: 10%;
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
._pay .order.focus {
    margin-left: -110%
}
._pay .order .item .ititle {
    color: #21242b;
    font-size: 15px
}
._pay .order .item .iinfo .pay-type-wrap {
    overflow: hidden;
    position: relative;
    width: 96%;
    height: 25px;
    margin: 0.5rem 0;
    display: block;
    border: 0;
    background-color: transparent;
    padding: 0;
    text-align: left;
    line-height: 0
}
._pay .order .item .iinfo .pay-type-wrap.checked {
    background-color: rgba(161, 163, 166, 0.3)
}
._pay .order .item .iinfo .pay-type-wrap.checked span {
    right: -30%
}
._pay .order .item .iinfo .pay-type {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0 2%;
    white-space: nowrap
}
._pay .order .item .iinfo .pay-type span {
    display: inline-block;
    width: 100%;
    position: absolute;
    right: -150%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
._pay .order .item .iinfo .radio {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 22px;
    top: 0;
    z-index: 3
}
._pay .order .item .iinfo .radio:checked+.pay-type {
    background-color: rgba(161, 163, 166, 0.3)
}
._pay .order .item .iinfo .radio:checked+.pay-type span {
    right: -30%
}
._pay .L-input {
    margin-bottom: 40px
}
._pay .L-input inputPlaceholder {
    top: -2px;
    font-size: 14px
}
._pay .L-input input:focus, ._pay .L-input input.focus {
    outline: none;
    box-shadow: none
}
._pay .L-input input:focus+inputPlaceholder, ._pay .L-input input.focus+inputPlaceholder {
    color: #21242b;
    font-size: 16px !important;
    font-weight: 300;
    top: -22px;
    -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
}
._pay .L-input input:not(:focus):valid+inputPlaceholder {
    color: #808080;
    font-size: 14px !important;
    font-weight: 300;
    top: -22px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
}
._pay .address {
    width: 100%;
    display: inline-block;
    vertical-align: top
}
._pay .address .addr {
    padding: 0.5rem 0.3rem;
    margin: 1rem 0;
    background-color: rgba(170, 171, 177, 0.6);
    line-height: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 6px 0 rgba(85, 85, 85, 0.5);
    white-space: normal;
    word-spacing: normal;
    word-wrap: break-word;
    word-break: break-all;
    color: #aaabb3;
    margin: 0.6rem
}
._pay .address .addr.focus {
    background-color: rgba(170, 171, 178, 0.6)
}
._pay .address .add_info {
    height: 0;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    width: 94%;
    padding: 0 3%;
    overflow: hidden;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
._pay .address .add_info.focus {
    padding: 1rem 3%;
    height: 274px
}
._pay .address .add_info select {
    margin: 0 1rem 1rem 0
}
.topay {
    width: 100%;
    padding: 1.5rem 0;
    background-color: #fff;
    min-height: 2rem;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.7);
    text-align: center
}
.topay div {
    display: inline-block
}
.topay .cover {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: rgba(229, 20, 0, 0);
    top: 50%;
    left: 0;
    z-index: 995;
    overflow: hidden;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.topay .cover.focus {
    background-color: rgba(33, 36, 43, 0.9);
    height: 100%;
    top: 0
}
.topay button {
    border: 0;
    padding: 0.3rem 0.8rem;
    outline: none;
    background-color: #aaabb1;
    color: #aaabb3;
    margin: 0.3rem;
    box-shadow: 0 0 10px 1px rgba(33, 36, 43, 0.4)
}
.topay .alipayform {
    z-index: 996;
    position: fixed;
    top: 30%;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.topay .alipayform.focus {
    width: 100%;
    height: 180px
}
.topay .alipayform .formtitle {
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2rem
}
.topay .alipayform .formitem {
    color: #fff;
    width: 100%;
    padding: 1rem 0
}
.topay .alipayform .formitem form {
    display: inline-block
}
.topay .alipayform .formitem input[type='submit'], .topay .alipayform .formitem .cancel {
    border: 0;
    padding: 0.3rem 0.6rem;
    background-color: #aaabb1;
    box-shadow: 0 0 10px 0 #21242b;
    color: #aaabb3;
    display: inline-block;
    margin: 0 1.5rem
}
.goodscontent {
    padding: 0.8rem 2% 4rem 2%;
    text-align: center;
    position: fixed;
    z-index: 1005;
    top: 150%;
    left: 0;
    width: 100%;
    height: 0;
    overflow-y: scroll;
    background-color: #fff;
    white-space: normal;
    word-spacing: normal;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.goodscontent.focus {
    top: 0;
    height: 100%
}
.goodscontent .back {
    text-align: left
}
.goodscontent p {
    text-align: left;
    line-height: 1.5rem;
    margin: 0.5rem 0;
    vertical-align: top
}
.goodscontent img {
    max-width: 85%;
    margin: 0.5rem auto;
    display: inline-block
}
.goodscontent table {
    max-width: 85%;
    border: 0;
    margin: 0.5rem auto;
    border-collapse: collapse;
    box-shadow: 0 1px 6px 0 rgba(153, 153, 153, 0.5)
}
.goodscontent table td {
    border: 1px solid rgba(153, 153, 153, 0.6);
    padding: 0.5rem
}
.goodscontent embed {
    display: block;
    max-width: 85%;
    margin: 0.5rem auto;
    box-shadow: 0 1px 8px 0 rgba(153, 153, 153, 0.6)
}
.blockbottom {
    height: 80px
}
.btn {
    padding: 0.3rem 1rem;
    border: 0;
    background-color: #aaabb1;
    outline: none;
    color: #aaabb3
}
.btn.disabled {
    background-color: #aaabb2
}
div.btn {
    padding: 0
}
.topay {
    position: fixed;
    bottom: 3.5rem;
}
