/* @media screen and (min-width:0\0) */

@charset'utf-8';
@import'../../../open_scss/theme';
@import'../../../open_scss/color';
@import'../../../open_scss/model';
.checkAdd {
    position: fixed;
    z-index: 1007;
    width: 100%;
    height: 100%;
    top: 0;
    left: 150%;
    background-color: rgba($white, 0.95);
    @include comic(0.3);
    text-align: center;
    padding-top: 50%;
    font-size: 17px;
    color: $black;
    &.focus {
        left: 0;
    }
    div {
        margin: 0.5rem auto;
        button {
            border: 0;
            background-color: $white;
            font-size: 17px;
            border-radius: 2px;
            box-shadow: 0 1px 8px 0 #c0c0c0;
            padding: 0.8rem 1.5rem;
            margin: 0.3rem 0.8rem;
        }
    }
}
.goods_details {
    width: 100%;
    .goodsimg {
        width: 100%;
        overflow: hidden;
        padding-bottom: 1.5rem;
        .bigbox {
            position: relative;
            background-color: rgba($white, 0.5);
            width: 100%;
            overflow: hidden;
            .movebox {
                width: 100%;
                position: relative;
                @include breakLine;
                .bigimg {
                    width: 100%;
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .pricebox {
                position: absolute;
                height: 35px;
                width: 96%;
                padding: 0 2%;
                background-color: rgba($grayLight, 0.5);
                color: $white;
                bottom: 0;
                line-height: 35px;
                .itemleft {
                    font-size: 20px;
                    color: $red;
                    font-weight: lighter;
                    display: inline-block;
                    width: 50%;
                }
                .itemright {
                    display: inline-block;
                    width: 50%;
                    font-size: 17px;
                    text-align: right;
                }
            }
        }
        .smallbox {
            width: 96%;
            padding: 0 2%;
            margin-top: 20px;
            .smallitem {
                display: inline-block;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                margin-right: 10px;
                text-align: center;
                line-height: 50px;
            }
            .smallimg {
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }
        }
    }
    .goodsinfo {
        width: 96%;
        padding: 1rem 2%;
        background-color: rgba($white, 0.7);
        .titlebar {
            font-size: 20px;
            margin-bottom: 10px;
            .i {
                margin: 0 0.5rem;
                display: inline-block;
                &.icon-sina-weibo, &.icon-qq, &.icon-renren {
                    &:before {
                        font-size: 20px;
                    }
                }
            }
        }
        .intro {
            padding: 1rem 0;
            color: #777;
            font-size: 15px;
            line-height: 22px;
        }
        .saleinfo {
            width: 100%;
            font-size: 16px;
            .item {
                width: 50%;
                display: inline-block;
            }
        }
        .sharebox {
            width: 100%;
            margin-bottom: .5rem;
            .title {
                padding: .3rem 0;
            }
            .sharelink {
                @include newLine;
                overflow: hidden;
                line-height: 22px;
                height: 0;
                &.focus {
                    height: auto;
                }
            }
        }
    }
    .content {
        padding: 1rem 2%;
        margin-top: 15px;
        overflow: hidden;
        @include newLine;
        line-height: 25px;
        color: $black;
        background-color: $white;
        .title {
            padding: 10px 0;
            font-size: 18px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;
        }
        img, video, embed, object {
            margin: 10px 0;
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    .bottomblock {
        height: 60px;
        width: 100%;
    }
    .floatbtnbox {
        width: 100%;
        padding: 0;
        height: 3.5rem;
        line-height: 3.5rem;
        position: fixed;
        z-index: 1006;
        bottom: 0;
        text-align: center;
        background-color: $black;
        .icon-left-open-big, .icon-home {
            display: inline-block;
            width: 11%;
            vertical-align: top;
            text-align: center;
            background-color: rgba($themeColor, .8);
            height: 3.5rem;
            line-height: 3.5rem;
            color: $fontColor;
        }
        .one {
            display: inline-block;
            width: 45%;
            vertical-align: top;
            background-color: #d0d0d0;
            .price {
                font-size: 1.5rem;
                padding-right: .2rem;
                color: $red;
            }
        }
        .icon-home {
            &:before {
                font-size: 1.5rem;
            }
        }
        .buy {
            display: inline-block;
            vertical-align: top;
            width: 44%;
            overflow: hidden;
            font-size: 1.5rem;
            color: $fontColor;
            background-color: $black;
            text-align: left;
            height: 3.5rem;
            @include breakLine;
            .icon-basket {
                display: inline-block;
                width: 25%;
                text-align: center;
                background-color: rgba($themeColor, .8);
                height: 100%;
            }
            .method {
                font-weight: lighter;
                width: 80%;
                text-align: center;
                font-size: 17px;
                display: inline-block;
                vertical-align: top;
                height: 100%;
                background-color: $themeColor;
            }
            * {
                line-height: 3.5rem;
                font-size: 1.5rem;
            }
        }
    }
}
