/* @media screen and (min-width:0\0) */

@charset'utf-8';
@import'../../../open_scss/theme';
@import'../../../open_scss/color';
@import'../../../open_scss/model';
.goods_list {
    position: relative;
    width: 100%;
    margin: 2.5rem 0 0 0;
    padding: 1.5rem 0;
    .tagtitle {
        padding-left: 0.5rem;
        font-size: 16px;
    }
    .chooselist {
        @include comic(.3);
        top: 0;
        height: 3rem;
        left: 0;
        width: 100%;
        text-align: center;
        position: fixed;
        background-color: rgba($gray, 0.6);
        &.focus {
            top: 2rem;
        }
        div {
            display: inline-block;
            line-height: 3rem;
            color: $fontColor;
            margin: 0 1.5rem;
            &.focus {
                color: $btnHover;
            }
        }
    }
    .getmore {
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 3rem;
        .btn {
            border: 0;
            padding: 0;
            margin: 0;
            width: 160px;
            height: 2.5rem;
            line-height: 2.5rem;
            outline: none;
            background-color: $themeColor;
            color: $fontColor;
        }
    }
}
.listitem {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    background-color: rgba($white, 0.5);
    &:last-child {
        border-bottom: 0!important;
    }
    .goodsimg {
        display: inline-block;
        width: 25%;
        text-align: center;
        vertical-align: top;
        img {
            width: 60px;
            height: 60px;
        }
    }
    .goodsinfo {
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        width: 75%;
        .name {
            width: 100%;
            height: 40px;
            color: $black;
            @include Line(2);
            .detail {
                color: $gray;
            }
        }
        .sale {
            color: $silver;
            .sitem {
                display: inline-block;
                width: 50%;
                .price {
                    color: $red;
                }
            }
        }
    }
}
